header.container {
  display: grid;
}

div.backgroundImage {
  background-color: var(--yellow-vivid-500);
  grid-area: 1/1;
}

div.backgroundImage > picture {
  /* opacity: 0.071; */
  opacity: 0.171;
}

div.content {
  grid-area: 1/1;
  position: relative;
  place-items: center;
  display: grid;
}
